:host {
  display: block;
  font-family: RobotoDraft, "Helvetica Neue", Helvetica, Arial;
  height: 100%;
}

core-header-panel {
  height: 100%;
}

core-header-panel::shadow #mainContainer {
  background: #f5f5f5;
}

core-toolbar {
  background: none;
}

.core-header {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  padding: 0 10px;
  background-color: #f8f8f8;
  color: #333333;
  transition: height 0.2s;
}

.core-header paper-item {
  color: #333;
}

.core-header paper-menu-button {
  height: 40px;
}

.content {
  background: #fff;
}

.panel {
  padding: 15px 15px;
  max-width: 1032px;
  margin: auto;
}

#logo {
}

#logo img {
  padding: 0;
  width: 200px;
  height: 45px;
  margin-top: 15px;
}

#topbar-menu .menu {
  line-height: 16px;
}

#sign-in {
  text-align: center;
  padding: 25px 0;
}

#marketspeak {
  background-color: #1F1F37;
  color: #fff;
  padding: 75px 15px;
  border-top: 1px solid #c9c8c8;
  border-bottom: 1px solid #232323;
  position: relative;
  z-index: 16;
}

#marketspeak .panel:after {
  background: url('/images/plane.png') no-repeat center;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#marketspeak:after {
  background: url(/images/feathers-b.png) center repeat;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

footer {
  padding: 50px 0;
  text-align: center;
}

footer p {
  width: 100%;
}

.core-header .username{
  font-size: 16px;
  text-align: right;
  line-height: 16px;
  min-width: 55px;
}
