:host {
  display: block;
}

.new-birdy {
  padding: 20px;
  text-align: center;
}

summary {
  width: 100%;
}

#empty-state {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px 30%;
  border: 5px dashed #DFDFDF;
}

#preview {
  height: 410px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#add-button {
  background-color: #F5F5F5;
  box-shadow: 0px -5px 6px -3px rgba(0, 0, 0, 0.4);
}

#image-preview {
  width: 310px;
  height: 310px;
}

#how-to {
  padding: 30px 20px;
  background-color: #3F251B;
  color: #fff;
  border-top: 1px solid #c9c8c8;
  border-bottom: 1px solid #232323;
  position: relative;
  z-index: 16;
}

#how-to:after {
  background: url(/images/feathers-b.png) center repeat;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

#how-to code {
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0 20px;
}


#how-to section {
  width: 1280px;
  margin: 0 auto;
}
